<h1>Hello world from hello!</h1>

<%= 1 + 1 %>
<br />
<br />

<% target = "world" %>
<%= "Hello #{target}" %>

<br />
<br />

<% @array.each do |n| %>
  <%= n %><br />
<% end %>

<br />
<br />

<%= link_to('Index page', {:action => 'index'}) %><br />

<br />
<br />

ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page %><br />
Next page: <%= @page.to_i + 1 %><br />
